version: 2
updates:
  # Maintain dependencies for the main site
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "monthly"
    open-pull-requests-limit: 10
    groups:
      dependencies:
        patterns:
          - "*"

  # Maintain dependencies for the CLI tool
  - package-ecosystem: "npm"
    directory: "/cli"
    schedule:
      interval: "monthly"
    open-pull-requests-limit: 10
    groups:
      dependencies:
        patterns:
          - "*"
