name: Publish CLI

on:
  push:
    branches:
      - main
    paths:
      - 'cli-go/**'
      - 'cli-wrapper/**'
      - '.github/workflows/publish.yml'
      - 'release.config.js'

permissions:
  contents: write # Required to commit version bumps
  issues: write
  pull-requests: write
  id-token: write # Required for NPM OIDC publishing
  packages: write

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0 # Required for commit analysis

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.25'

      - name: Install GoReleaser
        uses: goreleaser/goreleaser-action@v6
        with:
          install-only: true

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 22
          registry-url: 'https://registry.npmjs.org'

      - name: Install dependencies
        run: |
            npm install --no-save semantic-release @semantic-release/commit-analyzer @semantic-release/release-notes-generator @semantic-release/npm @semantic-release/git @semantic-release/exec

      - name: Semantic Release to Wrapper & GoReleaser
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          HOMEBREW_TAP_GITHUB_TOKEN: ${{ secrets.HOMEBREW_TAP_GITHUB_TOKEN }}
        run: |
          npx semantic-release
